@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

body {
  background-color: #f8f9fa;
  color: #343a40;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &-main {
    flex-grow: 1;
    overflow: auto;
  }
}